@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #F1B2CE;
    --main-title-color: #DB00FF;
    --accent-color: #ff0070;
    --hover-color: rgba(255, 0, 112, 0.40);
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --main-title-shadow: var(--accent-color);
    --decor-zone-color: var(--accent-color);
    --decor-title-color: var(--bg-color);
    --section-title-color: var(--accent-color);
  }
}

.page.theme_dark {
  --main-text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --accent-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.40);
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-title-shadow: var(--accent-color);
  --decor-zone-color: var(--accent-color);
  --decor-title-color: var(--bg-color);
  --section-title-color: var(--accent-color);
}