@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --main-title-color: #FFC2E6;
    --main-title-shadow: #ff0070;
    --hover-color: rgba(50, 49, 45, 0.40);
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #FF8DCB;
    --decor-zone-color: var(--main-text-color);
    --decor-title-color: var(--main-text-color);
    --section-title-color: var(--main-text-color);
  }

  .page .decorate-rec {
    display: none;
  }
}

.page.theme_light {
  --main-text-color: #353430;
  --main-title-color: #FFC2E6;
  --main-title-shadow: #ff0070;
  --accent-color: #FF8DCB;
  --hover-color: rgba(50, 49, 45, 0.40);
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --decor-zone-color: var(--main-text-color);
  --decor-title-color: var(--main-text-color);
  --section-title-color: var(--main-text-color);
}

.page.theme_light .decorate-rec {
  display: none;
}