@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --main-title-color: #FFC2E6;
    --main-title-shadow: #ff0070;
    --bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    }
    .page {
      background-image: url(../images/cover-image-light.png);
    }

    .page .decorate-rec {
      display: none;
     }
     
     .page.theme_dark .decorate-rec {
      display: block;
     }
  }

.page.theme_light {
  --main-text-color: #353430;
  --main-title-color: #FFC2E6;
  --main-title-shadow: #ff0070;
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .decorate-rec {
 display: none;
}
